.animate-block {
  transform: translateY(50px);
  opacity: 0;

  &.show {
    animation: animate-block .5s ease-out forwards;
  }
}

@keyframes animate-block {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}