.btn {

  &-spec-dark {
    background-color: #1A3745;
    color: #ffffff!important;
    //text-align: center;
    //width: 150px;
    //border-radius: 5px;
    //line-height: 40px;
    //margin: auto;
    //cursor: pointer;
    transition: .1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

}

