@font-face {
  font-family: 'Druk Text Wide Web';
  src: url('/assets/fonts/DrukTextWide-Heavy-Web.woff2') format('woff2'),
  url('/assets/fonts/DrukTextWide-Heavy-Web.woff') format('woff');
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
}

.DrukTextWide-Heavy-Web {
  font-family: 'Druk Text Wide Web';
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
}
