.header {
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  background-color: #D0D1C1;
  z-index: 100;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    //padding: 0 30px;
    z-index: 200;

    .mob-menu__btn {
      position: relative;
      display: none;
      align-items: center;
      border-top: 3px;
      border-bottom: 3px;
      border-left: 0;
      border-right: 0;
      border-style: solid;
      width: 30px;
      height: 21px;
      cursor: pointer;
      transition: all .2s linear;

      &::before, &::after {
        content: " ";
        position: absolute;
        background: #000000;
        height: 3px;
        width: 100%;
        transition: all .2s linear;
      }

      &:hover {
        border-color: #A6AA54;
        &::before, &::after {
          background: #A6AA54;
        }
      }
    }

  }
  &__block-top-menu {
    width: 600px;
  }
  &__block-logo {
    width: 303px;
    flex-shrink: 0;
    a {
      display: inline-flex;
    }
    img {
      height: 73px;
    }
  }




  @media (max-width: 991px) {
    &__wrapper {
      height: 85px;
      .mob-menu__btn {
        display: flex;
      }
    }
    &__block-logo {
      width: 80px;
      flex-shrink: 0;
      img {
        height: 60px;
      }
    }

    &__block-orion-pulsar, &__block-top-menu {
      display: none;
    }
  }


}



.orion-pulsar {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  text-decoration: none;

  .orion-pulsar-logo {
    height: 63px;
    &__start {
      fill: #009FE2;
    }
  }

  div {
    color: #009FE2;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 5px;
  }

  @media (max-width: 767px) {

    .orion-pulsar-logo {
      height: 54px;
    }
    div {
      font-size: 11px;
    }
  }


  &:hover .orion-pulsar-logo__start {
    fill:#000000;
    animation: .5s linear infinite alternate pulsar;
  }
  &:hover .orion-pulsar-logo__line1 {
    animation: .5s linear .1s infinite alternate pulsar;
  }
  &:hover .orion-pulsar-logo__line2 {
    animation: .5s linear .2s infinite alternate pulsar;
  }
  &:hover .orion-pulsar-logo__line3 {
    animation: .5s linear .3s infinite alternate pulsar;
  }
  &:hover .orion-pulsar-logo__line4 {
    animation: .5s linear .4s infinite alternate pulsar;
  }
}




@keyframes pulsar {
  0% {
    fill:#000000;
  }
  60% {
    fill:#000000;
  }
  100% {
    fill:#009FE2;
  }
}
