.timeline {
  &__step {
    position: relative;
    color: #ffffff;
    //font-family: 'Druk Text Wide Web', serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 46px;
    &::before, &::after {
      content: '';
      position: absolute;
      background-color: #1B3846;
      z-index: -1;
    }
    &::before {
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    &::after {
      top: 0;
      left: 50%;
      //transform: translateX(-0.5px);
      width: 1px;
      height: 100%;
    }


  }

  & .row {
    &:last-child .timeline__step {
      &::after {
        display: none;
      }
    }
  }


  &__description {
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 0 20px 0;
  }
}

