.top-menu {
  display: flex;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
  }
  > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      color: #000000;
      font-size: 2rem;
      text-decoration: none;

      &::before {
        content: attr(data-content);
        position: absolute;
        display: block;
      }

      &:hover {
        &::before {
          animation: animate-hover-before .2s ease-out forwards;
        }

      }
    }
  }


  &__item {
    display: block;
  }





  @media (max-width: 767px) {
    li {
      a {
        font-size: 1rem;
      }
    }
  }
}



@keyframes animate-hover-before {
  from {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
  }
}