


.striving-block {
  @extend .animate-block;
  position: relative;
  overflow: hidden;
  background-color: #E5E5E5;
  padding-top: 100px;
  &::before {
    content: "HAD\aLERCO";
    font-family: 'Druk Text Wide Web', serif;
    text-align: center;
    letter-spacing: 10px;
    display: block;
    white-space: pre;
    font-size: 220px;
    color: #CFD0BF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -61.5%) rotate(-30deg);
  }

  & > div {
    position: relative;
  }

  &__title {
    color: #1A3745;
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 0 0 100px 0;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
    &-value {
      color: #1A3745;
      font-size: 6rem;
      font-weight: 500;
      line-height: 6rem;
      margin-bottom: 3rem;
      text-align: center;
      min-width: 40%;
    }
    &-title {
      color: #1A3745;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

}



.about-block {
  @extend .animate-block;
  padding-top: 100px;
  margin-bottom: 100px;
}